{% extends "base.html" %}
{% block content %}
{% include "homenavbar.html" %}
<div class="registerLoginForm">
    <h1 class="display-3">Sign Up</h1>
    <p>Register below to join our application!</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}
            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-success" type="submit">Register</button>
        <a class ="btn btn-outline-secondary" href="/">Cancel</a>
    </form>
</div>
{% endblock %}
